div.datos{
    margin-left: 12em;
    width: 60%;
}

ul li{
    list-style-type: none;
    padding: 1.5%;
}

#titulo{
    font-size: 1.2em;
}

#titulotext{
    margin-top: 1%;
    width: 20em;
}

#estado{
    font-size: 1.2em;
}

#estadotext{
    margin-top: 1%;
    width: 20em;
}

#descripcion{
    font-size: 1.2em;
}

#descripciontext{
    margin-top: 1%;
    width: 20em;
    height: 4em;
}

div.boton{
    margin-left: 15em;
}

button {
    padding: 0.5em;
    width: 8em;
}